<!doctype html>
<html lang="vn">

<head>
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="chấm công,điểm danh,tiền công,bảng lương,phiếu lương,tính lương,tính tiền công nhật,chuyên cần">
    <meta property="og:title" content="EzHostel: Quản lý trọ thông minh">
    <meta property="og:type" content="website">
    <meta property="og:image" content="assets/images/logo/image.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>EzHostel: Quản lý trọ thông minh</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="./assets/images/logo/app-icon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick.css">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/custom-animation.css">
    <link rel="stylesheet" href="assets/css/default.css">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style-contact.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
  
</head>

<body>    

    <!--====== PRELOADER PART START ======-->

    <!-- <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close"></div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div> -->

    <!--====== PRELOADER PART ENDS ======-->

    <!--====== OFFCANVAS MENU PART START ======-->

    <!-- <div class="off_canvars_overlay">
                
    </div> -->

    <!-- <div class="offcanvas_menu">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="offcanvas_menu_wrapper">
                      <div class="canvas_close">
                          <a href="javascript:void(0)"><i class="fa fa-times"></i></a>  
                      </div>
                      <div class="offcanvas-brand text-center mb-40">
                          <img src="./assets/images/edit-html/Logo.svg" alt="">
                      </div>
                      <div id="menu" class="text-left ">
                          <ul class="offcanvas_main_menu">
                              <li class="menu-item-has-children active">
                                  <a href="#home">HOME</a>
                              </li>
                              <li class="menu-item-has-children active">
                                  <a href="#features">FEATURES</a>
                              </li>
                              <li class="menu-item-has-children active">
                                  <a href="#demo">VIDEO</a>
                              </li>
                              <li class="menu-item-has-children active">
                                  <a href="#download">DOWNLOAD</a>
                              </li>
                              <li class="menu-item-has-children active">
                                  <a href="/full-set-of-user-manual-expensee-app---intelligent-records-and-specifications-for-beginners-en">GUIDELINE</a>
                              </li>
                              <li class="menu-item-has-children active">
                                  <a class="login-btn" href="#">
                                      <img src="assets/images/edit-html/logoen.svg" style="width: 14px;height: 14px; border-radius: 10px;margin-right: 10px;"/><span>EN</span>
                                  </a>
                                  <ul class="sub-menu">
                                      <li>
                                          <a class="login-btn" href="?lang=vn">
                                              <img src="assets/images/edit-html/logovn.svg" style="width: 14px;height: 14px; border-radius: 10px;margin-right: 10px;"/><span>VN</span>
                                          </a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                      <div class="offcanvas-social">
                          <ul class="text-center">
                              <li><a target="_blank" href="https://www.facebook.com/smart.expensee"><i class="fab fa-facebook"></i></a></li>
                              <li><a target="_blank" href="https://www.facebook.com/smart.expensee"><i class="fab fa-twitter"></i></a></li>
                              <li><a target="_blank" href="https://www.facebook.com/smart.expensee"><i class="fab fa-instagram"></i></a></li>
                              <li><a target="_blank" href="https://www.facebook.com/smart.expensee"><i class="fab fa-dribbble"></i></a></li>
                          </ul>
                      </div>
                      <div class="footer-widget-info" style="font-size: 14px;">
                          <ul>
                              <li><a href="mailto:smartexpensee@gmail.com" style="font-size: 14px;"><i class="fa fa-envelope" style="margin-top: 2px;"></i> smartexpensee@gmail.com </a></li>
                              <li><a href="tel:+(84)932644247" style="font-size: 14px;"><i class="fa fa-phone" style="margin-top: 2px;"></i> +(84) 932 644 247</a></li>
                              <li><a href="#" style="font-size: 14px;"><i class="fa fa-map-marker-alt" style="margin-top: 2px;"></i> 264 Xô Viết Nghệ Tĩnh - Đà Nẵng - Việt Nam</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div> -->

    <!--====== OFFCANVAS MENU PART ENDS ======-->
    <!-- <header class="appie-header-area appie-sticky">
        <div class="container">
            <div class="header-nav-box header-nav-box-6">
                <div class="row align-items-center" >
                    <div class="col-lg-2 col-md-4 col-sm-5 col-6 order-1 order-sm-1">
                        <div class="appie-logo-box" style="width: 300px; height: 58px;">
                            <a href="/?lang=vn">
                                <img src="./assets/images/edit-html/Logo.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-1 col-sm-1 order-3 order-sm-2">
                        <div class="appie-header-main-menu">
                            
                        </div>
                        
                    </div>
                    <div class="col-lg-2  col-md-7 col-sm-6 col-6 order-2 order-sm-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </header> -->

    <!--====== APPIE PAGE TITLE PART ENDS ======-->

        <!-- Contact Start -->
        <section class="contact-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="contact-form" >
                          <h4>Let’s Connect</h4>
                          <p>You could also email us directly at <a href="mailto:admin@shapeecloud.com">admin@shapeecloud.com</a> or call us at +(84) 932 644 247</p>
                          <form action="#" method="post" class="row" id="contact-form">
                              <div class="col-md-6">
                                  <input type="text" name="f-name" placeholder="First Name" required>
                              </div>
                              <div class="col-md-6">
                                  <input type="text" name="l-name" placeholder="Last Name" required>
                              </div>
                              <div class="col-md-6">
                                  <input type="email" name="email" placeholder="Email Address" required>
                              </div>
                              <div class="col-md-6">
                                  <input type="number" name="phone" placeholder="Phone Number" required>
                              </div>
                              <div class="col-md-12">
                                  <input type="text" name="suject" placeholder="Subject" required>
                              </div>
                              <div class="col-md-12">
                                  <textarea name="message" placeholder="How can we help?"></textarea>
                              </div>
                              
                              <div class="col-md-12 text-center">
                                  <input type="submit" name="submit" value="Send Message">
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Contact End -->

      <!-- Gamps Start -->
      <!-- <div class="bisylms-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.646930381183!2d108.21013787696562!3d16.03188478464225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421992bc7e8c35%3A0xf3e06dcceb9ac3aa!2zMjY0IFjDtCBWaeG6v3QgTmdo4buHIFTEqW5oLCBLaHXDqiBUcnVuZywgQ-G6qW0gTOG7hywgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1698648851272!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div> -->
      
      <!-- Gamps Start -->

  <!--====== APPIE FOOTER PART START ======-->
    
    <section class="appie-footer-area">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-12">
                   <div style="width: 234px; height: 39px; margin: 0 auto;">
                    <img style="width: 234px; height: 39px; margin: 0 auto;" src="assets/images/edit-html/LogoFooter.svg"/>
                   </div>
                </div>
                <div class="col-lg-12" style="margin-top: 18px;">
                    <div style="width: 229px; margin: 0 auto;">
                     <a target="_blank" href="https://www.facebook.com/smart.expensee"><img style="width: 229px; margin: 0 auto;" src="assets/images/edit-html/image_16.png"/></a>
                    </div>
                 </div> -->
                 <div class="col-lg-12" style="margin-top: 18px;">
                    <p style="text-align: center; font-size: 15px;">Copyright © 2023 EzHostel. All Rights Reserved.</p>
                 </div>
            </div>
        </div>
    </section>
    
    <!--====== APPIE FOOTER PART ENDS ======-->


    <!--====== APPIE BACK TO TOP PART ENDS ======-->
    <div class="back-to-top back-to-top-6">
        <a href="#"><i class="fa fa-arrow-up"></i></a>
    </div>
    <!--====== APPIE BACK TO TOP PART ENDS ======-->

    <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    
    <!--====== wow js ======-->
    <script src="assets/js/wow.js"></script>
    
    <!--====== Slick js ======-->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>

    <!--====== TweenMax js ======-->
    <script src="assets/js/TweenMax.min.js"></script>
    
    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>
    <script src='assets/js/a076d05399.js' crossorigin='anonymous'></script>

    <script>
      // Get the form element
      const contactForm = document.getElementById("contact-form");

      // Add an event listener to the form for when it's submitted
      contactForm.addEventListener("submit", function (e) {
        e.preventDefault(); // Prevent the default form submission behavior

        // Get user input from the form fields
        const firstName = document.querySelector('input[name="f-name"]').value;
        const lastName = document.querySelector('input[name="l-name"]').value;
        const email = document.querySelector('input[name="email"]').value;
        const phone = document.querySelector('input[name="phone"]').value;
        const subject = document.querySelector('input[name="suject"]').value; // There's a typo in your HTML, should be "subject"
        const message = document.querySelector('textarea[name="message"]').value;

        // You can now use these values as needed, for example, you can log them to the console
        console.log("First Name: " + firstName);
        console.log("Last Name: " + lastName);
        console.log("Email: " + email);
        console.log("Phone: " + phone);
        console.log("Subject: " + subject);
        console.log("Message: " + message);
        const slackText = "First Name: " + firstName + " ---- " + "Last Name: " + lastName + " ---- " + "Email: " + email + " ---- " + "Phone: " + phone +  " ---- " + "Subject: " + subject + " ----" + "Message: " + message;
        
        fetch('/api/users/sendSlackMessage', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            "channel": "mywo-contact",
            "message" : slackText
          }),
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            alert("Thank for your contact!!!");
            contactForm.reset();
          })
          .catch(error => {
            console.log(error);
          });

      });
    </script>
</body>
</html>

